.cart-dropdown-container {
  position: absolute;
  width: 33vh;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  overflow: hidden;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Hide scrollbars */
    overflow-x: hidden; /* Hide scrollbars */
    width: 100%;
    box-sizing: content-box;
    padding-right: 4vh;
  }

  button {
    margin-top: auto;
  }
}
