body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "RowdiesBold"; /*Can be any text*/
  src: local("Rowdies-Bold"),
    url("./font/Rowdies/Rowdies-Bold.ttf") format("truetype");

  font-family: "RowdiesLight"; /*Can be any text*/
  src: local("Rowdies-Light"),
    url("./font/Rowdies/Rowdies-Light.ttf") format("truetype");

  font-family: "RowdiesRegular"; /*Can be any text*/
  src: local("Rowdies-Regular"),
    url("./font/Rowdies/Rowdies-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}